.parent{
    -fx-background-color: transparent;
}
.dark-panel{
    -fx-background-color: #45515f;
}
.main-btns{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: transparent;
}
.icons{
    -fx-fill:#717d8c;
}
.main-btns:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-color: #f3a978;
    -fx-border-width: 0px 0px 3px;
    -fx-border-radius: 0px;
    -fx-text-fill: transparent;
}
.main-btns:hover .icons{
    -fx-fill: white;
}
.file-buttons{
    -fx-background-color: #717d8c;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}
.file-buttons:hover{
    -fx-background-color: #f3a978;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}

